@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/* SCSS HEX */
/* SCSS HEX */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #1b1e66ff;
}

html::-webkit-scrollbar-thumb {
  background: #fe5f00ff;
  border-radius: 5rem;
}

body {
  background: #fbfef9ff;
  overflow: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #222;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fe5f00ff;
  border: 0.2rem solid #fe5f00ff;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #fe5f00ff;
  color: #fbfef9ff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #1b1e66ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fcba06;
  display: inline-block;
  margin: 1.5rem 1rem;
  padding: .5rem 1rem;
  border-radius: .7rem;
}

.header .navbar a .missions {
  display: none;
  color: #fbfef9ff;
  font-size: 2.2rem;
}

.header .navbar a.active, .header .navbar a:hover {
  background: #fe5f00ff;
  color: #fbfef9ff;
}

.header .navbar a.active .missions, .header .navbar a:hover .missions {
  width: 200px;
  position: absolute;
  left: -50%;
  margin-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.3rem 1.5rem;
  background: #1b1e66ff;
  border-radius: 1rem;
}

.header .btn {
  margin-top: 0;
}

.logo {
  text-transform: none;
  font-size: 2.5rem;
  color: #fbfef9ff;
  font-weight: bolder;
}

.logo i {
  color: #29d9d5;
  padding-right: .5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fbfef9ff;
  cursor: pointer;
  display: none;
}

.home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 67, 90, 0.5)), to(rgba(54, 67, 90, 0.5))), url(../images/bg.jpg) no-repeat;
  background: linear-gradient(rgba(54, 67, 90, 0.5), rgba(54, 67, 90, 0.5)), url(../images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.home .content {
  text-align: center;
}

.home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fcba06;
  font-size: 4vw;
  display: block;
}

.home .content h3 {
  font-size: 6vw;
  color: #fcba06;
}

.home .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 2.5rem;
  color: #fbfef9ff;
  line-height: 2;
}

.book-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: #1b1e66ff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 3rem 2rem;
}

.book-form .prayer-point {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  color: #fbfef9ff;
}

.book-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.book-form form .inputBox {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

.book-form form .inputBox span {
  font-size: 1.4rem;
  color: #dce0d9ff;
}

.book-form form .inputBox input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: 0.2rem solid #fe5f00ff;
  font-size: 1.6rem;
  color: #dce0d9ff;
  text-transform: none;
  background: none;
  margin-top: 1rem;
}

.book-form form .inputBox textarea {
  width: 100%;
  height: 13rem;
  margin-top: 1rem;
  padding: 1.2rem 1.5rem;
  border-radius: 2rem;
  border: 0.2rem solid #fe5f00ff;
  background: none;
  color: #dce0d9ff;
  resize: none;
}

.book-form form .inputBox .input-btn {
  margin-top: 3rem;
  color: #fe5f00ff;
  border: 0.2rem solid #fe5f00ff;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.book-form form .inputBox .input-btn:hover {
  background: #fe5f00ff;
  color: #fbfef9ff;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.about .video-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .video-container video {
  border-radius: 1rem;
  width: 100%;
}

.about .video-container .controls {
  text-align: center;
  padding: 2rem 0;
}

.about .video-container .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #222;
  cursor: pointer;
  margin: .7rem;
}

.about .video-container .controls span:hover {
  background: #29d9d5;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.about .content span {
  color: #29d9d5;
  font-size: 2rem;
}

.about .content h3 {
  color: #222;
  font-size: 4rem;
  margin-top: .5rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #222;
  line-height: 2;
}

.destination .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.destination .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #1b1e66ff;
}

.destination .box-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.destination .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.destination .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #fbfef9ff;
}

.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #dce0d9ff;
  line-height: 2;
}

.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: #29d9d5;
}

.destination .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.destination .box-container .box .content a i {
  padding-right: .5rem;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  background: #1b1e66ff;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #1f1300ff;
}

.services .box-container .box:hover {
  border: 0.2rem solid #fe5f00ff;
}

.services .box-container .box i {
  font-size: 4rem;
  color: #29d9d5;
  margin-bottom: 2rem;
}

.services .box-container .box h3 {
  font-size: 2rem;
  color: #ffac3f;
}

.services .box-container .box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #dce0d9ff;
  line-height: 2;
}

.gallery .box-container {
  -webkit-columns: 3 25rem;
          columns: 3 25rem;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.gallery .box-container .box {
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.gallery .box-container .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.gallery .box-container .box span {
  font-size: 1.4rem;
  color: #fe5f00ff;
}

.gallery .box-container .box h3 {
  margin-top: .5rem;
  font-size: 2rem;
  color: #222;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.review .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.review .content span {
  font-size: 2rem;
  color: #29d9d5;
}

.review .content h3 {
  font-size: 3rem;
  color: #fe5f00ff;
}

.review .content p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #222;
  padding: 1rem 0;
  line-height: 2;
}

.review .box-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  border-radius: 1rem;
  padding: 2rem;
  background: #1b1e66ff;
  border: 0.2rem solid #1f1300ff;
}

.review .box-container .box:hover {
  border: 0.2rem solid #fe5f00ff;
}

.review .box-container .box p {
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 1rem;
  line-height: 2;
  color: #29d9d5;
}

.review .box-container .box .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.review .box-container .box .user img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.review .box-container .box .user h3 {
  font-size: 1.7rem;
  color: #fe5f00ff;
}

.review .box-container .box .user span {
  color: #dce0d9ff;
  font-size: 1.5rem;
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border-radius: 1rem;
  background: #1b1e66ff;
  overflow: hidden;
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
  background-color: inherit;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .link {
  text-transform: none;
  font-size: 2rem;
  color: #fe5f00ff;
}

.blogs .box-container .box .content .link:hover {
  color: #29d9d5;
}

.blogs .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #dce0d9ff;
  line-height: 2;
}

.blogs .box-container .box .content .icon {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs .box-container .box .content .icon a {
  font-size: 1.4rem;
  color: #dce0d9ff;
}

.blogs .box-container .box .content .icon a:hover {
  color: #29d9d5;
}

.blogs .box-container .box .content .icon a i {
  padding-right: .5rem;
  color: #29d9d5;
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../images/banner-bg.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;
  background-attachment: fixed;
  text-align: center;
}

.banner .content span {
  font-size: 2rem;
  color: #29d9d5;
}

.banner .content h3 {
  font-size: 4rem;
  color: #fbfef9ff;
  margin-top: 1rem;
}

.banner .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #dce0d9ff;
  line-height: 2;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
}

.footer .box-container .box .logo {
  padding-bottom: 1rem;
  color: #222;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #222;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #222;
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: #fe5f00ff;
}

.footer .box-container .box .share {
  padding-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid #fe5f00ff;
  color: #fe5f00ff;
  margin-right: .5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #fe5f00ff;
  color: #29d9d5;
}

.footer .box-container .box .links {
  font-size: 1.4rem;
  color: #222;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box .links:hover {
  color: #fe5f00ff;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .links i {
  padding-right: .5rem;
  color: #fe5f00ff;
}

.footer .box-container .box form .email {
  width: 100%;
  border-radius: 5rem;
  border: 0.2rem solid #fe5f00ff;
  background: none;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: none;
  color: #222;
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

.credit {
  background: #1b1e66ff;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #dce0d9ff;
}

.credit span {
  color: #29d9d5;
}

.up-coming {
  z-index: 10;
  position: fixed;
  top: 10rem;
  right: 10rem;
  padding: 1rem 2rem;
}

.up-coming:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.up-coming-modal-container {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: visibility .4s ease-out;
  transition: visibility .4s ease-out;
  z-index: 1000;
}

.up-coming-modal-container .overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .4s .2s ease-out;
  transition: opacity .4s .2s ease-out;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.up-coming-modal-container .modal {
  margin-top: 10rem;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-20% - 50px));
          transform: translate(-50%, calc(-20% - 50px));
  width: 95%;
  max-width: 500px;
  min-width: 200px;
  outline: 1rem solid #1b1e66ff;
  color: #fbfef9ff;
  border-radius: 15px;
  -webkit-transition: opacity .4s ease-out, -webkit-transform .4s ease-out;
  transition: opacity .4s ease-out, -webkit-transform .4s ease-out;
  transition: opacity .4s ease-out, transform .4s ease-out;
  transition: opacity .4s ease-out, transform .4s ease-out, -webkit-transform .4s ease-out;
}

.up-coming-modal-container .modal .content {
  background: #fff;
  border-radius: 5px;
  height: 520px;
  overflow-y: scroll;
}

.up-coming-modal-container .modal .content::-webkit-scrollbar {
  width: 7px;
}

.up-coming-modal-container .modal .content::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}

.up-coming-modal-container .modal .content::-webkit-scrollbar-thumb {
  background: #fe5f00ff;
  border-radius: 50px;
}

.up-coming-modal-container .modal .content .vid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  background: #f7f7f7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.up-coming-modal-container .modal .content .vid .title {
  color: #333;
  font-size: 17px;
}

.up-coming-modal-container .modal .content .vid:hover {
  background: #eee;
}

.up-coming-modal-container .modal .content .vid.active {
  background: #2980b9;
}

.up-coming-modal-container .modal .content .vid.active .title {
  color: #fff;
}

.up-coming-modal-container .modal .content .vid img {
  width: 100%;
  border-radius: 3px;
  aspect-ratio: 5/3;
}

.up-coming-modal-container.active {
  /* display: block; */
  visibility: visible;
}

.up-coming-modal-container.active .overlay {
  opacity: 1;
  -webkit-transition: opacity .4s ease-out;
  transition: opacity .4s ease-out;
}

.up-coming-modal-container.active .modal {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity .4s .2s ease-out, -webkit-transform .4s .2s ease-out;
  transition: opacity .4s .2s ease-out, -webkit-transform .4s .2s ease-out;
  transition: opacity .4s .2s ease-out, transform .4s .2s ease-out;
  transition: opacity .4s .2s ease-out, transform .4s .2s ease-out, -webkit-transform .4s .2s ease-out;
}

.preaching-video-modal-container {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.preaching-video-modal-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.preaching-video-modal-container .modal {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-20% - 50px));
          transform: translate(-50%, calc(-20% - 50px));
  width: 95%;
  max-width: 720px;
  min-width: 200px;
  padding: 2rem;
  border-radius: 15px;
}

.preaching-video-modal-container .modal .content {
  padding: 5px 5%;
}

.preaching-video-modal-container .modal .content .main-video {
  background: #1b1e66ff;
  padding: 10px;
  border-radius: 5px;
}

.preaching-video-modal-container .modal .content .main-video video {
  width: 100%;
  border-radius: 5px;
}

.preaching-video-modal-container .modal .content .main-video .title {
  color: #fcba06;
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.preaching-video-modal-container.active {
  display: block;
}

.video-loaded {
  z-index: 10;
  position: fixed;
  overflow: hidden;
  bottom: 10rem;
  right: 10rem;
  background: #1b1e66ff;
  width: 32rem;
  height: 18rem;
  border-radius: 10px;
  border: 0.2rem solid #fe5f00ff;
}

.video-loaded video {
  width: 100%;
  border-radius: 12px;
  aspect-ratio: 16/9;
}

.video-loaded:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.video-loaded.deactivate {
  display: none;
}

@media (max-width: 1174px) {
  body {
    overflow-y: hidden;
  }
  .header {
    padding: 1rem 2rem;
  }
  .header .navbar a {
    margin: 0 .7rem;
    padding: .4rem .7rem;
  }
  .up-coming, .video-loaded {
    right: 8rem;
  }
  .video-loaded {
    width: 27rem;
    height: 15rem;
  }
  .video-loaded video {
    width: 100%;
    aspect-ratio: 9/5;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1rem 1.7rem;
    padding-bottom: 0.7rem;
  }
  .header .navbar a {
    margin: 0 .3rem;
    padding: .3rem .3rem;
  }
  .up-coming, .video-loaded {
    right: 6rem;
  }
  .video-loaded {
    width: 22rem;
    height: 12rem;
  }
  .video-loaded video {
    width: 100%;
    aspect-ratio: 9/5;
  }
  section {
    padding: 3rem 2rem;
  }
  .btn, .input-btn {
    background-color: #fe5f00ff;
    color: #fbfef9ff;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #1b1e66ff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .up-coming, .video-loaded {
    right: 5rem;
  }
  .video-loaded {
    display: none;
  }
  .home {
    margin-top: 10rem;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h3 {
    font-size: 9vw;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .up-coming, .video-loaded {
    right: 3rem;
  }
  .video-loaded {
    width: 10rem;
    height: 10rem;
  }
  .about .content h3 {
    font-size: 3.5rem;
  }
  .banner .content h3 {
    font-size: 2.7rem;
  }
}
/*# sourceMappingURL=style.css.map */